*{
font-family: 'Josefin Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.logo{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.8em;
    width: 266px;
    height: 33px;
    left: 0px;
    top: 41px;
}
.logo a:hover{
    color: #ff0000;
}
.navigation a{
  color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #ff0000;
}
header {
    background-color:#fff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    margin-top: 32px;
}
.main{
  background: url(images\background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover}
h1{
position: absolute;
width: 397px;
height: 150px;
left: 102px;
top: 248px;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 50px;
color: #E03616;
}
.information{
  position: absolute;
width: 496px;
height: 60px;
left: 102px;
top: 454px;

font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 20px;

color: #161616;

}

/*s=
h1{
  position: absolute;
  width: 397px;
  height: 150px;
  left: 102px;
  top: 248px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;

  color: #E03616;

}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.header a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.header a:hover{
    color: #ff0000;
}
h2{
  position: absolute;
width: 397px;
height: 150px;
left: 102px;
top: 248px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 50px;
color: #E03616;
}
.text{

}
.button{
position: absolute;
width: 138px;
height: 59px;
left: 102px;
top: 572px;
background-color: #cfffb0;
padding: 0;
border: none;
}
.visit{
  position: absolute;
width: 113px;
height: 20px;
left: 273px;
top: 594px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #161616
}
*/
.background{
  background-image: url(images\background.png);

}
.mCourses{
  width: 608px;
  height: 33px;
  left: 112px;
  top: 117px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #FAFAFA
}
.join a{
  background-color: #cfffb0;
border: none;
color: black;
padding: 15px 32px;
text-align: center;
margin: 4px 2px;
cursor: pointer;
position: absolute;
width: 138px;
height: 59px;
left: 102px;
top: 572px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
}
.join a:hover{
    color: #ff0000;
}
.visit{
  position: absolute;
width: 113px;
height: 20px;
left: 273px;
top: 594px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 15px;
color: #000;
}
.visit a:hover{
    color: #ff0000;
}
